@import url("https://fonts.googleapis.com/css?family=Raleway:300,400&subset=latin-ext");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@font-face {
  font-family: "Monument Valley";
  font-weight: normal;
  src: url("../fonts/Monument_Valley_1.2.otf") format("opentype");
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 1rem;
}

.top-hero {
  height: 100%;
  background: linear-gradient(rgba(61, 129, 126, 0.8), rgba(61, 129, 126, 0.8)), url("../img/splashc.jpg");
  background-size: cover;
  background-color: #0F4E4C;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.middle-hero {
  padding: 2rem 0 1rem 0;
}

.footer-hero {
  background: #033432;
  color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-hero a:link, .footer-hero a:visited, .footer-hero a:active {
  color: #cccccc;
}

.footer-hero a:hover {
  color: #999999;
}

a:link, a:visited, a:active {
  color: #ffffff;
  text-decoration: none;
}

h1 {
  font-family: 'Monument Valley';
  font-size: 6rem;
}

h2 {
  font-family: 'Monument Valley';
  font-size: 2rem;
  color: #efefef;
}

h3 {
  font-size: 1.4rem;
  font-weight: lighter;
}

.contact-box {
  text-align: left;
}

/* Mobile first queries */
/* Larger than mobile */
/* Larger than phablet */
/* Larger than tablet */
/* Larger than desktop */
@media (min-width: 1000px) {
  h1 {
    font-size: 10rem;
  }
  h2 {
    font-size: 6rem;
  }
  h3 {
    font-size: 2rem;
  }
  .contact-box {
    text-align: right;
  }
}

/* Larger than Desktop HD */
.white {
  color: #ffffff;
}

.center {
  text-align: center;
}

.title {
  margin: 0;
  font-weight: bold;
  font-variant: small-caps;
}

.contact {
  margin-right: 0.4rem;
}
